<section class="our-services container">
  <div class="do-app-title our-services__title">
    <div class="do-app-title__number">
      <div class="do-app-title__counter">
        <div class="do-app-title__value">05</div>
      </div>

      <div class="do-app-title__caption">Our Services</div>
    </div>

    <div class="do-app-title__text">
      we are full stack developers
    </div>
  </div>

  <div class="our-services__list">
    <div class="our-services__item our-services__item_right">
      <div class="our-services__item-image">
        <img src="./assets/our-services/our-services-image-01.jpg" alt=""/>
      </div>

      <div class="our-services__item-content">
        <div class="our-services__item-caption">User-friendly frontend</div>

        <div class="our-services__item-text">
          Offer awesome user experience to your customers.
          Build your frontend with fancy and loved by millions
          technologies - Angular, Vue.js, React
        </div>

        <div class="our-services__item-button-set">
          <div class="our-services__item-button do-button do-button_transparent">Read more</div>
        </div>
      </div>
    </div>

    <div class="our-services__item our-services__item_left">
      <div class="our-services__item-content">
        <div class="our-services__item-caption">User-friendly frontend</div>

        <div class="our-services__item-text">
          Build your backend as RESTful API with JavaScript
          (Node.js, Express) or PHP (Symfony, Laravel)
          technologies and make it easy to scale
        </div>

        <div class="our-services__item-button-set">
          <div class="our-services__item-button do-button do-button_transparent">Read more</div>
        </div>
      </div>

      <div class="our-services__item-image">
        <img src="./assets/our-services/our-services-image-02.jpg" alt=""/>
      </div>
    </div>

    <div class="our-services__item our-services__item_right">
      <div class="our-services__item-image">
        <img src="./assets/our-services/our-services-image-03.jpg" alt=""/>
      </div>

      <div class="our-services__item-content">
        <div class="our-services__item-caption">Wireframing and prototyping</div>

        <div class="our-services__item-text">
          Before you create a design, create wireframes.
          Review you idea in a simple way!
        </div>

        <div class="our-services__item-button-set">
          <div class="our-services__item-button do-button do-button_transparent">Read more</div>
        </div>
      </div>
    </div>

    <div class="our-services__item our-services__item_left">
      <div class="our-services__item-content">
        <div class="our-services__item-caption">Design Sprints with UX review</div>

        <div class="our-services__item-text">
          Reduce risk and decide on a product road-map
          before you start writing a single line of code
        </div>

        <div class="our-services__item-button-set">
          <div class="our-services__item-button do-button do-button_transparent">Read more</div>
        </div>
      </div>

      <div class="our-services__item-image">
        <img src="./assets/our-services/our-services-image-04.jpg" alt=""/>
      </div>
    </div>
  </div>
</section>
