<section class="portfolio container">
  <div class="do-app-title portfolio__title">
    <div class="do-app-title__number">
      <div class="do-app-title__counter">
        <div class="do-app-title__value">08</div>
      </div>

      <div class="do-app-title__caption">Portfolio</div>
    </div>

    <div class="do-app-title__text">
      our latest projects
    </div>
  </div>

  <div class="portfolio__slider">
    <div class="portfolio__slider-item portfolio__slider-item_prev">
      <img src="../../assets/portfolio/portfolio-slide-01.jpg" alt="portfolio slide">
    </div>

    <div class="portfolio__slider-item portfolio__slider-item_current">
      <img src="../../assets/portfolio/portfolio-slide-02.jpg" alt="portfolio slide">
    </div>

    <div class="portfolio__slider-item portfolio__slider-item_next">
      <img src="../../assets/portfolio/portfolio-slide-03.jpg" alt="portfolio slide">
    </div>
  </div>
</section>
