@import "../../styles/utility/mixins";

.portfolio {
  margin-top: px-to-rem(120);

  @include ctx_tablet {
    margin-top: px-to-rem(40);
  }

  &__slider {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: px-to-rem(90);

    @include ctx_tablet {
      margin-top: px-to-rem(35);
    }

    @include ctx_mobile(portrait) {
      display: grid;
      grid-column-gap: px-to-rem(15, $font-size-mobile);
      grid-row-gap: px-to-rem(15, $font-size-mobile);
      grid-template-areas:
        "slider-current slider-current"
        "slider-prev slider-next";
    }
  }

  &__slider-item {
    &_prev,
    &_next {
      width: 20.833333333%;
      height: auto;

      @include ctx_mobile(portrait) {
        width: 100%;
      }
    }

    &_prev {
      grid-area: slider-prev;
    }

    &_next {
      grid-area: slider-next;
    }

    &_current {
      width: 70%;
      max-width: px-to-rem(800);
      height: auto;
      max-height: px-to-rem(600);
      grid-area: slider-current;
      margin: 0 px-to-rem(20);

      @include ctx_mobile(landscape) {
        width: 55%;
      }

      @include ctx_mobile(portrait) {
        width: 100%;
        margin: 0;
      }
    }
  }
}
