<section class="technology container">
  <div class="do-app-title technology__title">
    <div class="do-app-title__number">
      <div class="do-app-title__counter">
        <div class="do-app-title__value">03</div>
      </div>

      <div class="do-app-title__caption">Technology</div>
    </div>

    <div class="do-app-title__text">
      we are good at
    </div>
  </div>

  <div class="technology__content">
    <div class="technology__item">
      <div class="technology__caption">Frontend</div>
      <div class="technology__meter">
        <span class="technology__progress" style="width: 80%"></span>
      </div>
      <div class="technology__icon-set">
        <div class="technology__icon-item">
          <img class="technology__icon" src="./assets/technology/technology-icon-angular.svg" alt="angular" title="Angular">
        </div>
        <div class="technology__icon-item">
          <img class="technology__icon" src="./assets/technology/technology-icon-react.svg" alt="react" title="React">
        </div>
        <div class="technology__icon-item">
          <img class="technology__icon" src="./assets/technology/technology-icon-vue.svg" alt="vue" title="Vue">
        </div>
        <div class="technology__icon-item">
          <img class="technology__icon" src="./assets/technology/technology-icon-javascript.svg" alt="javascript" title="Javascript">
        </div>
        <div class="technology__icon-item">
          <img class="technology__icon" src="./assets/technology/technology-icon-html5.svg" alt="html5" title="HTML5">
        </div>
        <div class="technology__icon-item">
          <img class="technology__icon" src="./assets/technology/technology-icon-css3.svg" alt="css3" title="CSS3">
        </div>
        <div class="technology__icon-item">
          <img class="technology__icon" src="./assets/technology/technology-icon-sass.svg" alt="sass" title="Sass">
        </div>
      </div>
    </div>
    
    <div class="technology__item">
      <div class="technology__caption">Backend</div>
      <div class="technology__meter">
        <span class="technology__progress" style="width: 70%"></span>
      </div>
      <div class="technology__icon-set">
        <div class="technology__icon-item">
          <img class="technology__icon" src="./assets/technology/technology-icon-java.svg" alt="java" title="Java">
        </div>
        <div class="technology__icon-item">
          <img class="technology__icon" src="./assets/technology/technology-icon-scala.svg" alt="scala" title="Scala">
        </div>
        <div class="technology__icon-item">
          <img class="technology__icon" src="./assets/technology/technology-icon-python.svg" alt="python" title="Python">
        </div>
        <div class="technology__icon-item">
          <img class="technology__icon" src="./assets/technology/technology-icon-nodejs.svg" alt="nodejs" title="NodeJS">
        </div>
        <div class="technology__icon-item">
          <img class="technology__icon" src="./assets/technology/technology-icon-ruby.svg" alt="ruby" title="Ruby">
        </div>
        <div class="technology__icon-item">
          <img class="technology__icon" src="./assets/technology/technology-icon-php.svg" alt="php" title="PHP">
        </div>
        <div class="technology__icon-item">
          <img class="technology__icon" src="./assets/technology/technology-icon-go.svg" alt="go" title="Go">
        </div>
        <div class="technology__icon-item">
          <img class="technology__icon" src="./assets/technology/technology-icon-kotlin.svg" alt="kotlin" title="Kotlin">
        </div>
      </div>
    </div>
    
    <div class="technology__item">
      <div class="technology__caption">Design</div>
      <div class="technology__meter">
        <span class="technology__progress" style="width: 60%"></span>
      </div>
      <div class="technology__icon-set">
        <div class="technology__icon-item">
          <img class="technology__icon" src="./assets/technology/technology-icon-photoshop.svg" alt="photoshop" title="Photoshop">
        </div>
        <div class="technology__icon-item">
          <img class="technology__icon" src="./assets/technology/technology-icon-illustrator.svg" alt="illustrator" title="Illustrator">
        </div>
        <div class="technology__icon-item">
          <img class="technology__icon" src="./assets/technology/technology-icon-sketch.svg" alt="sketch" title="Sketch">
        </div>
        <div class="technology__icon-item">
          <img class="technology__icon" src="./assets/technology/technology-icon-figma.svg" alt="figma" title="Figma">
        </div>
        <div class="technology__icon-item">
          <img class="technology__icon" src="./assets/technology/technology-icon-zeplin.svg" alt="zeplin" title="Zeplin">
        </div>
        <div class="technology__icon-item">
          <img class="technology__icon" src="./assets/technology/technology-icon-invision.svg" alt="invision" title="InVision">
        </div>
        <div class="technology__icon-item">
          <img class="technology__icon" src="./assets/technology/technology-icon-marvel.svg" alt="marvel" title="Marvel">
        </div>
        <div class="technology__icon-item">
          <img class="technology__icon" src="./assets/technology/technology-icon-axure.svg" alt="axure" title="Axure">
        </div>
      </div>
    </div>
  </div>
</section>
