@import "../../styles/utility/mixins";

.technology {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: px-to-rem(120);
  padding-bottom: px-to-rem(60);

  @include ctx_tablet {
    padding-top: px-to-rem(35);
  }

  &__content {
    width: 100%;
    max-width: px-to-rem(1200);
    display: flex;
    flex-direction: column;
    align-items: stretch;

    @include ctx_tablet {
      width: 100%;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: px-to-rem(70);

    @include ctx_tablet {
      margin-top: px-to-rem(30);
    }
  }

  &__caption {
    min-width: px-to-rem(100);
    width: 10%;
    color: #000000;
    font-family: $mayeka-regular;
    font-size: px-to-rem(20);
    text-align: left;
  }

  &__meter {
    position: relative;
    height: px-to-rem(7);
    background-color: #dbdbdb;
    border-radius: px-to-rem(5);
    flex: 1;
    margin-left: px-to-rem(25);
    overflow: hidden;
  }

  &__progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: $prime-orange;
    border-radius: px-to-rem(5);
    display: inline-block;
  }

  &__icon-set {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: px-to-rem(70);

    @include ctx_tablet {
      margin-top: px-to-rem(25);
    }

    @include ctx_mobile(portrait) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      margin-top: 0;
    }
  }

  &__icon-item {
    height: px-to-rem(100);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 px-to-rem(20);

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    @include ctx_tablet {
      height: px-to-rem(70);
    }

    @include ctx_mobile(portrait) {
      padding-top: px-to-rem(20, $font-size-mobile);
    }
  }

  &__icon {
    height: 100%;
    opacity: 0.4;
    transform: scale(1);
    transform-origin: center;

    &:hover {
      animation: technologyIconColoring 0.3s linear forwards;
      will-change: animation;
    }
  }
}

@keyframes technologyIconColoring {
  0% {
    opacity: 0.4;
    transform: scale(1);
  }

  100% {
    opacity: 1;
    transform: scale(1.1);
  }
}
