<header class="header container js_header">
  <a href="/" class="header__logo">
    <img src="./assets/do-logo.svg" alt="logotype"/>
  </a>

  <div class="header__menu-list">
    <div class="header__menu-item">home</div>
    <div class="header__menu-item">about</div>
    <div class="header__menu-item">portfolio</div>
    <div class="header__menu-item">technology</div>
    <div class="header__menu-item">our team</div>
    <div class="header__menu-item">contacts</div>
  </div>

  <div class="header__menu-button header__menu-button_mobile js_menu-button">
    <img src="./assets/header/icon-menu.svg" alt="menu"/>
  </div>

  <div class="header__search">
    <img src="./assets/header/icon-search.svg" alt="search"/>
  </div>
</header>
