@import "../../styles/utility/mixins";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: px-to-rem(33) 0;

  @include ctx_tablet(portrait) {
    justify-content: flex-end;
  }

  @include ctx_mobile {
    justify-content: flex-end;
    margin: px-to-rem(15, $font-size-mobile) 0;
  }

  &__logo {
    min-width: px-to-rem(165);
    width: px-to-rem(320);

    @include ctx_tablet(portrait) {
      margin-right: auto;
    }

    @include ctx_mobile {
      margin-right: auto;
    }
  }

  &__menu-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: px-to-rem(15);

    @include ctx_tablet(portrait) {
      display: none;
    }

    @include ctx_mobile {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transform: translateY(-100%);
      transition: all 0.3s ease-in-out;
      visibility: hidden;
      pointer-events: none;
    }

    &:hover {
      .header__menu-item {
        color: rgba(0, 0, 0, 0.4);

        &:hover {
          animation: menuItemHoverAnimation 0.5s ease-in-out;
          color: $prime-orange;
        }
      }
    }
  }

  &__menu-button {
    &_mobile {
      display: none;

      @include ctx_tablet(portrait) {
        display: flex;
      }

      @include ctx_mobile {
        display: flex;
      }
    }
  }
  /* stylelint-disable no-descending-specificity */
  &__menu-item {
    position: relative;
    border-radius: px-to-rem(3);
    font-family: mayeka-regular-demo, sans-serif;
    color: #000000;
    cursor: pointer;
    font-size: px-to-rem(14);
    line-height: px-to-rem(16);
    padding: px-to-rem(10) px-to-rem(26);
    text-transform: uppercase;
    transition: color 0.3s ease-in-out;
    white-space: nowrap;

    &::after {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: px-to-rem(2);
      content: "";
      background-color: $prime-orange;
      border-radius: px-to-rem(5);
      opacity: 0;
      transform: translateY(5px);
      visibility: hidden;
    }

    &:hover {
      &::after {
        animation: menuItemUnderlineHoverAnimation 0.3s linear forwards;
      }
    }
  }
  /* stylelint-enable */
  &__search {
    min-width: px-to-rem(12);
    cursor: pointer;
    margin-left: px-to-rem(15);
  }

  &_opened {
    .header__menu-list {
      opacity: 1;
      transform: translateY(0);
      visibility: visible;
      pointer-events: all;
    }
  }
}

@keyframes menuItemHoverAnimation {
  0% {
    background-color: rgba(150, 150, 150, 0);
  }

  50% {
    background-color: rgba(150, 150, 150, 0.1);
  }

  100% {
    background-color: rgba(150, 150, 150, 0);
  }
}

@keyframes menuItemUnderlineHoverAnimation {
  0% {
    opacity: 0;
    transform: translateY(px-to-rem(5));
    visibility: hidden;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }
}
