@import "utility/mixins";

html {
  font-size: $font-size-base+px;

  @include ctx_tablet {
    font-size: $font-size-tablet+px;
  }

  @include ctx_mobile {
    font-size: $font-size-mobile+px;
  }
}

body {
  font-family: $mayeka-light;
  text-align: center;
}

.container {
  max-width: px-to-rem(1920);
  margin: 0 auto;
  padding: 0 5.8593%;

  @include ctx_tablet {
    padding: 0 4%;
  }
}

.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
