<footer class="footer">
  <div class="footer__container container">
    <div class="footer__section footer__section_left">
      <form class="footer__subscribe">
        <label class="footer__subscribe-label" for="footer__subscribe-input">
          Subscribe to our newsletters
        </label>
        <input type="email" id="footer__subscribe-input" class="footer__subscribe-input do-input" placeholder="E-mail"/>
        <div class="footer__subscribe-button-set">
          <button class="footer__subscribe-button do-button do-button_orange" type="submit">Subscribe</button>
        </div>
      </form>

      <div class="footer__social">
        <a href="" class="footer__social-item">
          <img src="../../assets/footer/icon-social-instagram.svg"/>
        </a>
        <a href="" class="footer__social-item">
          <img src="../../assets/footer/icon-social-linkedin.svg"/>
        </a>
        <a href="" class="footer__social-item">
          <img src="../../assets/footer/icon-social-be.svg"/>
        </a>
        <a href="" class="footer__social-item">
          <img src="../../assets/footer/icon-social-dribbble.svg"/>
        </a>
        <a href="" class="footer__social-item">
          <img src="../../assets/footer/icon-social-twitter.svg"/>
        </a>
      </div>

      <div class="footer__about">
        <div class="footer__about-title">About</div>

        <div class="footer__about-text">
          Eget magna tincidunt varius eu mi orci risus.
          Dictum varius condimentum velit aliquam convallis.
          Id tempus nisl et viverra et quam enim.
        </div>
      </div>
    </div>

    <div class="footer__section footer__section_right">
      <div class="footer__contacts">
        <div class="footer__contacts-title">
          Contacts
        </div>

        <div class="footer__contacts-address">
          Proostwetering 50<br/>
          3543 AH Utrecht<br/>
          Netherlands<br/>
          Tel: (+1) 212 244 7234<br/>
          Fax: (+1) 212 244 7234
        </div>
      </div>

      <div class="footer__menu">
        <div class="footer__menu-title">
          Who we are
        </div>

        <div class="footer__menu-list">
          <a href="" class="footer__menu-item">Our team</a>
          <a href="" class="footer__menu-item">Portfolio</a>
          <a href="" class="footer__menu-item">How we work</a>
          <a href="" class="footer__menu-item">Contact us</a>
          <a href="" class="footer__menu-item">Our services</a>
        </div>
      </div>

      <div class="footer__right-reserved">
        All rights reserved<br/>
        ©Devoctopus 20t19
      </div>
    </div>
  </div>
</footer>
