@import "../../styles/utility/mixins";

.do-top-news {
  position: relative;

  @include ctx_mobile {
    height: px-to-rem(400, $font-size-mobile);
    padding: 0;
  }

  &__image-item {
    @include ctx_mobile {
      height: 100%;
      display: flex;
      justify-content: center;
      overflow: hidden;
    }
  }

  &__image {
    @include ctx_mobile {
      max-width: unset;
      height: 100%;
      transform: translateX(-7%);
    }
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 15.5556%;
    background-color: rgba(255, 255, 255, 0.84);
    display: inline-flex;
    flex-direction: column;
    padding: px-to-rem(60) px-to-rem(60) px-to-rem(60) px-to-rem(30);
    text-align: left;
    transform: translateY(-50%);

    @include ctx_tablet {
      left: 4%;
    }

    @include ctx_tablet(portrait) {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    @include ctx_mobile {
      top: unset;
      bottom: px-to-rem(20, $font-size-mobile);
      left: px-to-rem(20, $font-size-mobile);
      width: auto;
      max-width: px-to-rem(280, $font-size-mobile);
      height: auto;
      padding:
        px-to-rem(15, $font-size-mobile)
        px-to-rem(30, $font-size-mobile)
        px-to-rem(15, $font-size-mobile)
        px-to-rem(15, $font-size-mobile);
      transform: translateY(0);
    }
  }

  &__number {
    position: absolute;
    right: px-to-rem(40);
    top: 0;
    font-family: BebasNeue, sans-serif;
    font-size: px-to-rem(118);
    color: #fbd0c3;

    &::after {
      position: absolute;
      left: 0;
      bottom: 25%;
      width: 165%;
      height: px-to-rem(2);
      background-color: #fbd0c3;
      content: "";
    }

    @include ctx_mobile {
      font-size: px-to-rem(45, $font-size-mobile);
    }
  }

  &__title {
    font-family: $mayeka-bold;
    font-size: px-to-rem(35);
    text-transform: uppercase;

    @include ctx_mobile {
      font-size: px-to-rem(21, $font-size-mobile);
    }
  }

  &__text {
    font-family: $mayeka-light;
    font-size: px-to-rem(35);

    @include ctx_mobile {
      font-size: px-to-rem(14, $font-size-mobile);
    }
  }
}
