<section class="do-top-news container">
  <div class="do-top-news__image-item">
    <img class="do-top-news__image" src="./assets/top-news/image-top-news.jpg"/>
  </div>

  <div class="do-top-news__content">
    <div class="do-top-news__number">01</div>

    <div class="do-top-news__title">
      WE ARE<br/>
      it engineering company
    </div>

    <div class="do-top-news__text">progressive and open minded</div>
  </div>
</section>
