<section class="about-us container">
  <div class="about-us__content">
    <div class="do-app-title about-us__title">
      <div class="do-app-title__number">
        <div class="do-app-title__counter">
          <div class="do-app-title__value">01</div>
        </div>

        <div class="do-app-title__caption">About us</div>
      </div>

      <div class="do-app-title__text">
        we are frontend<br/>
        and backend specialists
      </div>
    </div>

    <div class="about-us__text">
      We are a team of experienced software developers,
      business analysts and managers. Together we create
      a digital product agency to help startups and enterprises
      with custom software development.
      We are a team of experienced software developers,
      business analysts and managers. Together we create
      a digital product agency to help startups and enterprises
      with custom software development.
    </div>

    <div class="about-us__button-set">
      <div class="about-us__button do-button do-button_orange">Read more</div>
    </div>
  </div>
  
  <div class="about-us__image-item">
    <img class="about-us__image" src="./assets/about-us/image-about-us.jpg" alt="about us">
  </div>
</section>
