<section class="our-philosophy container">
  <div class="our-philosophy__image-item">
    <img class="our-philosophy__image" src="./assets/our-philosophy/our-philosophy-image.png" alt="our philosophy">
  </div>

  <div class="our-philosophy__content">
    <div class="do-app-title our-philosophy__title">
      <div class="do-app-title__number">
        <div class="do-app-title__counter">
          <div class="do-app-title__value">04</div>
        </div>

        <div class="do-app-title__caption">Our Philosophy</div>
      </div>

      <div class="do-app-title__text">
        in code we trust
      </div>
    </div>

    <div class="our-philosophy__text">
      We strongly believe that communication and accurate information
      are very important. No matter if there are good or bad news - you're
      up-to-date with everything. You can always call us or talk to us via
      dedicated Slack room which will be created for your project.<br/>
      <br/>
      As we work in agile methodologies, our development process is
      very simple and well defined - Backlog Refinements, Sprint Review,
      Planning, regular meetings.<br/>
      <br/>
      You have full access to both JIRA (Project Management system)
      and GIT Repos all the time. You can measure our progress on a
      daily basis - we want to be 100% clear with all we do.
    </div>

    <div class="our-philosophy__button-set">
      <div class="our-philosophy__button do-button do-button_orange">Read more</div>
    </div>
  </div>
</section>
