<section class="our-team">
  <div class="do-app-title our-services__title">
    <div class="do-app-title__number">
      <div class="do-app-title__counter">
        <div class="do-app-title__value">06</div>
      </div>

      <div class="do-app-title__caption">Our Team</div>
    </div>

    <div class="do-app-title__text">
      we are proud of our specialists
    </div>
  </div>

  <div class="our-team__content">
    <div class="our-team__image-item">
      <img class="our-team__image" src="./assets/our-team/our-team-photo-01.png" alt="our team">
    </div>

    <div class="our-team__description">
      <div class="our-team__caption">Hi! My name is Andrew</div>

      <div class="our-team__text">
        I have significant experience in software development
        and use my expertise and knowledge of the industry practices
        to perform various development tasks such as, coding,
        app development and web development. I oversee projects
        and may specialize in a particular area of development
        or coding language.<br/>
        <br/>
        I am the leader of software development projects,
        but often report to a program manager or software architect.
      </div>

      <div class="our-team__button-set">
        <div class="our-team__button do-button do-button_transparent">Read more</div>
      </div>
    </div>
  </div>
</section>
