<section class="customers-feedback">
  <div class="customers-feedback__container container">
    <div class="do-app-title customers-feedback__title">
      <div class="do-app-title__number">
        <div class="do-app-title__counter">
          <div class="do-app-title__value">07</div>
        </div>

        <div class="do-app-title__caption">Customer’s feedback</div>
      </div>

      <div class="do-app-title__text">
        what people say about us
      </div>
    </div>

    <div class="customers-feedback__quote">
      <div class="customers-feedback__quote-image-item">
        <img class="customers-feedback__quote-image" src="../../assets/customers-feedback/customers-feedback-quote-image.png" alt="quote sign">
      </div>

      <div class="customers-feedback__quote-item">
        <div class="customers-feedback__quote-sign">
          <img src="../../assets/customers-feedback/customers-feedback-quote-sign.svg" alt="quote sign">
        </div>

        <div class="customers-feedback__quote-title">Gregory Fitz</div>

        <div class="customers-feedback__quote-subtitle"><strong>Think Big</strong> Company owner</div>

        <div class="customers-feedback__quote-text">
          I just want to say thank you so much for being our saviour over the past few months
        </div>
      </div>
    </div>
  </div>
</section>
