<section class="contact-us">
  <div class="contact-us__container container">
    <div class="do-app-title contact-us__title">
      <div class="do-app-title__number">
        <div class="do-app-title__counter">
          <div class="do-app-title__value">09</div>
        </div>

        <div class="do-app-title__caption">Contact us</div>
      </div>

      <div class="do-app-title__text">
        we’ll be happy to anstwer you
      </div>
    </div>

    <form action="" class="contact-us__form">
      <label class="contact-us__form-label">
        <input type="text" class="contact-us__form-input do-input" placeholder="Name"/>
      </label>

      <label class="contact-us__form-label">
        <input type="email" class="contact-us__form-input do-input" placeholder="E-mail"/>
      </label>

      <textarea class="contact-us__form-textarea" placeholder="Message"></textarea>

      <div class="contact-us__form-button-set">
        <button class="contact-us__form-button do-button do-button_orange" type="submit">Send</button>
      </div>
    </form>
  </div>

  <div class="contact-us__map">
    <img src="../../assets/contact-us/contact-us-map.jpg" alt="contact us map">
  </div>
</section>
