@import "../../styles/utility/mixins";

.contact-us {
  margin-top: px-to-rem(120);

  @include ctx_tablet {
    margin-top: px-to-rem(40);
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__form {
    width: 80%;
    max-width: px-to-rem(800);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: px-to-rem(70);

    @include ctx_tablet {
      margin-top: px-to-rem(35);
    }

    @include ctx_mobile(portrait) {
      flex-direction: column;
      margin-top: 0;
    }
  }

  &__form-label {
    flex-basis: 48%;

    @include ctx_mobile(portrait) {
      margin-top: px-to-rem(20, $font-size-mobile);
    }
  }

  &__form-input {
    width: 100%;
  }

  &__form-textarea {
    min-height: px-to-rem(100);
    border: px-to-rem(1) solid $prime-orange;
    flex-basis: 100%;
    font-family: $mayeka-light;
    margin-top: px-to-rem(30);
    padding: px-to-rem(5) px-to-rem(15);
  }

  &__form-button-set {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: px-to-rem(50);
  }

  &__map {
    max-height: px-to-rem(400);
    margin-top: px-to-rem(120);

    @include ctx_tablet {
      margin-top: px-to-rem(35);
    }
  }
}
