<section class="our-process">
  <div class="our-process__container container">
    <div class="do-app-title our-process__title">
      <div class="do-app-title__number">
        <div class="do-app-title__counter">
          <div class="do-app-title__value">02</div>
        </div>

        <div class="do-app-title__caption">Our Process</div>
      </div>

      <div class="do-app-title__text">
        see how it works
      </div>
    </div>

    <div class="our-process__steps">
      <div class="our-process__step">
        <div class="our-process__step-icon">
          <img src="./assets/our-process/our-process-01-interview.svg" alt="meeting with client">
        </div>
        <div class="our-process__step-title">Meeting <br/>with clients</div>
        <div class="our-process__step-sign">
          <img src="./assets/our-process/our-process-step-sign.svg" alt="step sign">
        </div>
      </div>
      <div class="our-process__step">
        <div class="our-process__step-icon">
          <img src="./assets/our-process/our-process-02-negotiation.svg" alt="team discussing">
        </div>
        <div class="our-process__step-title">Team <br/>discussing</div>
        <div class="our-process__step-sign">
          <img src="./assets/our-process/our-process-step-sign.svg" alt="step sign">
        </div>
      </div>
      <div class="our-process__step">
        <div class="our-process__step-icon">
          <img src="./assets/our-process/our-process-03-bulb.svg" alt="creating idea">
        </div>
        <div class="our-process__step-title">Creating <br/>the idea</div>
        <div class="our-process__step-sign">
          <img src="./assets/our-process/our-process-step-sign.svg" alt="step sign">
        </div>
      </div>
      <div class="our-process__step">
        <div class="our-process__step-icon">
          <img src="./assets/our-process/our-process-04-talk.svg" alt="distribution">
        </div>
        <div class="our-process__step-title">Distribution <br/>of work between <br/>departments</div>
        <div class="our-process__step-sign">
          <img src="./assets/our-process/our-process-step-sign.svg" alt="step sign">
        </div>
      </div>
      <div class="our-process__step">
        <div class="our-process__step-icon">
          <img src="./assets/our-process/our-process-05-computer.svg" alt="design and programming">
        </div>
        <div class="our-process__step-title">Design and <br/>programming</div>
        <div class="our-process__step-sign">
          <img src="./assets/our-process/our-process-step-sign.svg" alt="step sign">
        </div>
      </div>
      <div class="our-process__step">
        <div class="our-process__step-icon">
          <img src="./assets/our-process/our-process-06-work.svg" alt="testing">
        </div>
        <div class="our-process__step-title">Testing</div>
        <div class="our-process__step-sign">
        </div>
      </div>
    </div>

    <div class="our-process__button-set">
      <div class="our-process__button do-button do-button_transparent">Read more</div>
    </div>
  </div>
</section>
