@import "../../styles/utility/mixins";

$indent-right: px-to-rem(75);
$indent-right-tablet: px-to-rem(50);
$step-icon-size: px-to-rem(134);

.our-process {
  background-color: #f7f7f7;
  padding: px-to-rem(90) 0;

  @include ctx_tablet {
    padding: px-to-rem(45) 0;
  }

  &__steps {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: px-to-rem(35);
    margin-left: auto;
    margin-right: auto;

    @include ctx_tablet(portrait) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }

    @include ctx_mobile(landscape) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }

    @include ctx_mobile(portrait) {
      grid-template-columns: 1fr 1fr;
    }
  }

  &__step {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: px-to-rem(35);
    padding-right: $indent-right;

    &:last-child {
      padding-right: 0;
    }

    @include ctx_tablet {
      padding-right: $indent-right-tablet;
    }

    @include ctx_tablet(portrait) {
      &:last-child {
        padding-right: $indent-right-tablet;
      }
    }

    @include ctx_mobile(landscape) {
      padding-right: calc(#{$indent-right} / 2);

      &:last-child {
        padding-right: calc(#{$indent-right} / 2);
      }
    }

    @include ctx_mobile(portrait) {
      padding-right: 0;

      &:last-child {
        padding-right: 0;
      }
    }
  }

  &__step-icon {
    width: $step-icon-size;
    height: $step-icon-size;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  $base-color: #ff8e6b;

  @for $i from 1 through 6 {
    &__step:nth-child(#{$i}) {
      .our-process__step-icon {
        background-color: darken($base-color, $i * 2.3%);
      }
    }
  }

  &__step-title {
    color: #000000;
    font-family: $mayeka-regular;
    font-size: px-to-rem(18);
    margin-top: px-to-rem(30);
  }

  &__step-sign {
    position: absolute;
    top: calc(#{$step-icon-size} / 2);
    right: calc(#{$indent-right} / 2);
    width: px-to-rem(13);
    height: px-to-rem(26);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transform: translate(50%, -50%);

    @include ctx_tablet {
      right: calc(#{$indent-right-tablet} / 2);
    }

    @include ctx_mobile(landscape) {
      right: calc(#{$indent-right} / 2);
    }

    @include ctx_mobile(portrait) {
      display: none;
    }
  }

  &__button-set {
    margin-top: px-to-rem(70);

    @include ctx_tablet {
      margin-top: px-to-rem(35);
    }
  }
}
